.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
    perspective: 1000px;
    opacity: 0;
    animation: fadeInSlideUp 1s ease-out forwards;
    animation-delay: 0.2s;
}

.category-second-row, .category-first-row {
    display: flex;
    justify-content: space-between;
}

.category-first-row {
    width: 1000px;
    margin-bottom: 80px;
}

.category-second-row {
    width: 740px;
}

.category-title {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: background-color 0.3s ease;
}

.category-item {
    position: relative;
    width: 600px;
    height: 200px;
    opacity: 0;
    transform: scale(0.9) rotateY(45deg);
    transition: all 1.1s cubic-bezier(0.23, 1, 0.32, 1);
}

.category-item.animate {
    opacity: 1;
    transform: scale(1) rotateY(0);
}

.category-item:hover {
    transform: scale(1.05);
}

h1 {
    text-align: center;
    margin: 40px 0 40px 0;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInSlideUp 1.5s ease-out forwards;
    animation-delay: 2.5s;
}

@keyframes fadeInSlideUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.cover-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}