/* ORTAK */
body {
    margin: 0;
    font-family: "Carlito", sans-serif;
    font-weight: 400;
    font-style: italic;
}


@keyframes fadeInSlideUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(30px);
    }
}


h1 {
    text-align: center;
    margin: 40px 0 40px 0;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInSlideUp 1.5s ease-out forwards;
    animation-delay: 2.5s;
}


h5 {
    margin-left: 20px;
    margin-bottom: 30px;
    font-weight:bold;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    margin-bottom: 20px;
}

.desc-column,
.hours-column {
    text-align: center;
}

.column-title {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.column-text {
    margin-bottom: 5px;
}

.days {
    margin-right: 28px;
}

.phone {
    margin-right: 95px;
}

.copyright {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}