.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 15px 0;
    background-color: rgba(255, 255, 255, 1);
}

.navbar.scrolled {
    background-color: #a5bfe8 !important;
}

.navbar-brand {
    font-weight: bold;
    font-size: 25px;
}

.nav-link {
    font-size: 22px;
    margin: 0 5px;
}

.nav-link, .navbar-brand {
    color: #252526;
}

.nav-link:hover, .navbar-brand:hover {
    color: black !important;
    transition: color 0.3s ease;
}
