.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
    overflow-y: auto;
    padding: 20px;
}

.modal {
    z-index: 1;
}


.modal-content {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fefefe;
    width: 90%;
    max-width: 500px;
    margin: 15% auto;
    height: 500px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1040;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal-backdrop.show {
    opacity: 1;
}

body.modal-open {
    overflow: hidden;
}


.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #6b6969;
    transition: color 0.3s ease;
    text-decoration: none;
    font-style: normal;
}

.modal-close:hover {
    color: #4d4c4c;
}

.selection-container {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
}


.sauce-container, .drink-container, .side-container {
    display: flex;
    flex-direction: column;
}


.sauce-item, .side-item, .drink-item {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.sauce-item input[type="checkbox"], .side-item input[type="checkbox"], .drink-item input[type="checkbox"] {
    margin-left: 20px;
    margin-right: 14px;
}

.sauce-item label, .side-item label, .drink-item label {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.sauce-price, .drink-price, .side-price {
    margin-right: 20px;
    color: #28a745;
}

.toggle-link {
    color: #666;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: color 0.2s;
    justify-content: center;
    margin-top: 30px;
}

.toggle-link:hover {
    color: #333;
}


.total-container {
    margin-bottom: 30px;
    text-align: right;
}


h4{
  margin-top: 30px;
  margin-bottom: 30px;
}


.hidden {
    display: none !important;
}

