.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 440px;
    height: 490px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0.91;
}

button {
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -83%);
    padding: 8px 24px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a{
     position: absolute;
     top: 93%;
     left: 50%;
     transform: translate(-50%, -93%);
     text-decoration: none;
     font-size: 18px;
}

button:hover {
    background-color: #0056b3;
}

.text-danger {
    color: #dc3545;
    font-size: 0.875rem;
    margin-top: 0.25rem;
    display: block;
}

input.error::placeholder {
    color: red !important;
    opacity: 1;
}

input.error::-ms-input-placeholder {
   color: red !important;
}

input.error::-webkit-input-placeholder {
   color: red !important;
}

input.error:not(:placeholder-shown) {
   color: black;
}

input.error:focus::placeholder {
   color: transparent;
}