<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/common-styles.css}" />
</head>
<footer th:fragment="footer" class="footer mt-auto py-4 bg-dark text-white">
    <div class="footer-container">
        <div class="footer-content">
            <div class="desc-column">
                <h4 class="column-title">Can Burger</h4>
                <p class="column-text">Serving the best burgers in town</p>
            </div>
            <div class="hours-column">
                <h4 class="column-title">Working Hours</h4>
                <p class="column-text days">Monday - Sunday: 12:00 - 23:00</p>
                <p class="column-text phone">Phone: (555) 123-4567</p>
            </div>
        </div>
        <div class="copyright">
            <small>&copy; 2025 Can Burger. All rights reserved.</small>
        </div>
    </div>
</footer>
</html>
